<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-controller="todoController">
    <h2>This is a simple to-do list</h2>

    <!-- input -->
    <input type="text" ng-model="newTask" placeholder="Enter task" />
    <button ng-click="addTask()">Add Task</button>

    <!-- Display -->
    <ul>
      <li ng-repeat="task in tasks">{{task}}</li>
    </ul>

    <script>
      var app = angular.module("todoApp", []);
      app.controller("todoController", function ($scope) {
        $scope.tasks = [];

        // Function to add a task
        $scope.addTask = function () {
          if ($scope.newTask) {
            $scope.tasks.push($scope.newTask);
            $scope.newTask = "";
          }
        };
      });
    </script>
  </body>
</html>
