<!DOCTYPE html>
<html>
  <head>
    <title>User Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script>
      const app = angular.module("userApp", []);

      app.controller("Ctrl", function ($scope) {
        // Create User
        $scope.createUser = function () {
          const data = { studentID: $scope.studentID, name: $scope.name };
          $.ajax({
            url: "http://localhost:3000/Create",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
              $scope.response = response.result;
              $scope.$apply();
              $scope.getAllUsers(); // Refresh user list
            },
            error: function (error) {
              alert("Error in creating user: " + error.responseJSON.error);
            },
          });
        };

        // Read All Users
        $scope.getAllUsers = function () {
          $.ajax({
            url: "http://localhost:3000/ReadAll",
            type: "GET",
            success: function (response) {
              $scope.users = response.result;
              $scope.$apply();
            },
            error: function (error) {
              alert("Error in fetching users: " + error.responseJSON.error);
            },
          });
        };

        // Update User
        $scope.updateUser = function () {
          const data = { studentID: $scope.studentID, name: $scope.newName };
          $.ajax({
            url: "http://localhost:3000/Update",
            type: "PUT",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
              $scope.response = response.result;
              $scope.$apply();
              $scope.getAllUsers(); // Refresh user list
            },
            error: function (error) {
              alert("Error in updating user: " + error.responseJSON.error);
            },
          });
        };

        // Delete User
        $scope.deleteUser = function () {
          $.ajax({
            url: "http://localhost:3000/Delete?studentID=" + $scope.studentID,
            type: "DELETE",
            success: function (response) {
              $scope.response = response.result;
              $scope.$apply();
              $scope.getAllUsers(); // Refresh user list
            },
            error: function (error) {
              alert("Error in deleting user: " + error.responseJSON.error);
            },
          });
        };

        // Initialize by fetching all users
        $scope.getAllUsers();
      });
    </script>
  </head>
  <body data-ng-app="userApp" data-ng-controller="Ctrl">
    <h1>User Management System</h1>

    <h2>Create User</h2>
    <p>Student ID: <input data-ng-model="studentID" required /></p>
    <p>Name: <input data-ng-model="name" required /></p>
    <button data-ng-click="createUser()">Create User</button>

    <h2>Read All Users</h2>
    <button data-ng-click="getAllUsers()">Get All Users</button>
    <ul>
      <li data-ng-repeat="user in users">
        {{ user.studentID }} - {{ user.name }}
      </li>
    </ul>

    <h2>Update User</h2>
    <p>Student ID: <input data-ng-model="studentID" required /></p>
    <p>New Name: <input data-ng-model="newName" required /></p>
    <button data-ng-click="updateUser()">Update User</button>

    <h2>Delete User</h2>
    <p>Student ID: <input data-ng-model="studentID" required /></p>
    <button data-ng-click="deleteUser()">Delete User</button>

    <h2>Response</h2>
    <p style="color: green" data-ng-if="response">{{ response }}</p>
  </body>
</html>
