.test-message p::before {
  content: "this is my para";
  color: green;
}

/* this for para to put before and after  */
.test-message p::after {
  content: "this is my para";
  color: red;
}

/* linear-gradient */
.samplebox {
  background: linear-gradient(to top, pink, blue);
  height: 300vh;

  /* 1rem = 16 px */
  width: 2rem;
}

/* radial-gradient */
.samplebox2 {
  background: radial-gradient(circle, red, green);
  height: 300vh;
}
