.sai {
  color: goldenrod;
  font-size: 40px;
}

.ias {
  color: green;
  font-size: 50px;
}

button {
  color: red;
  height: 150px;
  width: 300px;
  background-color: black;
  font-size: 20px;
  border: 2px red solid;
  transition: all 1s;
}

button:hover {
  font-weight: bold;
  height: 170px;
  width: 350px;
  background-color: transparent;
}
body {
  /* this is how set the liner gradient height*/
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(94, 94, 175),
    rgb(171, 107, 107),
    rgb(113, 148, 113)
  );
  transition: all 1s;
}

.head4 {
  font: 40px;
  color: beige;
  border: 3px solid red;
}
